<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>

    <form action="/update" method = "POST">

        <h1 for="id" value="{{ users.id }}">Edit User {{ users.id }}</h1>
        <input type="hidden" name="id" value="{{users.id}}">

        <a href="/users">Home</a> <br>

        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" value="{{users.first_name}}">
        <br><br>

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" value="{{users.last_name}}">
        <br><br>

        <label for="email">Email:</label>
        <input type="text" name="email" value="{{users.email}}">
        <br><br>

        <input type="submit" value="Update">
        <a href="/users/{{users.id}}">Show User</a>
    </form>

</body>
</html>