<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
</head>
<body>
    <div class="container">
        <h1>New Ninja</h1> <br>
        <form action="/create_ninja" method="POST">
            <p>Dojo:
                <select name="dojo_id">
                    {% for dojo in dojos %}
                    <option value="{{dojo.id}}">{{dojo.dojo_name}}</option>
                    {% endfor %}
                </select>
            </p>
            
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name">
            <br><br>
            
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name">
            <br><br>

            <label for="age">Age:</label>
            <input type="number" name="age">
            <br><br>

            <input type="submit" value="Create">
            <br><br>

            <a href="/dojos">Home</a>

        </form>
    </div>
</body>
</html>